
*.xml
*.txt

*.exe
*.dll
*.lib
*.obj
*.o
*.pdb


build/
Debug/
Release/
out/
dist/
x64/

*.vcxproj.user     
*.vcxproj.filters  
*.suo               
*.user              
*.ipch              
*.opensdf
*.sdf

Thumbs.db           
desktop.ini         
